body {
    background-color: #f0f0f0;
}

h1 {
    color: green;
    font-size: 32px;
}

p {
    color: #333;
    font-size: 18px;
}

.box {
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    margin-top: 20px;
}
